// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 90%;
  line-height: 18px;
}
.task {
  margin: 10px;
  padding: 10px 20px;
  width: 300px;
  border: 1px solid #DDD;

  .header {
    vertical-align: middle;
    height: 25px;
    margin: 5px 0px;
    overflow: hidden;
    .progress {
      padding-top: 4px;
      float:left;
      width: 25px;
      height: 25px;
    }
    a.title {
      display: block;
      margin-left: 75px;
      padding-top: 4px;
      height: 20px;
      overflow: hidden;
      color: #000;
      font-size: 1.3em;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
  .body {
    /*display: none;*/
    margin-top: 15px;
    .summary {
      height: 20px;
      vertical-align: middle;
      span.box {
        border: 1px solid #DDD;
        padding: 3px;
        margin: 10px 10px 10px 3px;
      }
    }
    .actions {
      height: 20px;
      vertical-align: middle;
      margin: 10px 0px 0px 0px;
    }
  }
}

.nested_tasks {
  margin-left: 30px;
}

/* Progress sprite classes */
.progress {
  width: 25px;
  height: 25px;
  display:block;
  padding-left: 30px
}
.progress-0  { background: url('progress.png') no-repeat 0px -0px;   }
.progress-1  { background: url('progress.png') no-repeat 0px -25px;  }
.progress-2  { background: url('progress.png') no-repeat 0px -50px;  }
.progress-3  { background: url('progress.png') no-repeat 0px -75px;  }
.progress-4  { background: url('progress.png') no-repeat 0px -100px; }
.progress-5  { background: url('progress.png') no-repeat 0px -125px; }
.progress-6  { background: url('progress.png') no-repeat 0px -150px; }
.progress-7  { background: url('progress.png') no-repeat 0px -175px; }
.progress-8  { background: url('progress.png') no-repeat 0px -200px; }
.progress-9  { background: url('progress.png') no-repeat 0px -225px; }
.progress-10 { background: url('progress.png') no-repeat 0px -250px; }
.progress-11 { background: url('progress.png') no-repeat 0px -275px; }
.progress-12 { background: url('progress.png') no-repeat 0px -300px; }
.progress-13 { background: url('progress.png') no-repeat 0px -325px; }
.progress-14 { background: url('progress.png') no-repeat 0px -350px; }
.progress-15 { background: url('progress.png') no-repeat 0px -375px; }
.progress-16 { background: url('progress.png') no-repeat 0px -400px; }
.progress-17 { background: url('progress.png') no-repeat 0px -425px; }
.progress-18 { background: url('progress.png') no-repeat 0px -450px; }
.progress-19 { background: url('progress.png') no-repeat 0px -475px; }
.progress-20 { background: url('progress.png') no-repeat 0px -500px; }
.progress-21 { background: url('progress.png') no-repeat 0px -525px; }
.progress-22 { background: url('progress.png') no-repeat 0px -550px; }
.progress-23 { background: url('progress.png') no-repeat 0px -575px; }
.progress-24 { background: url('progress.png') no-repeat 0px -600px; }
